@import "~bootstrap/scss/bootstrap";
@import "header.scss";
@import "general.scss";
@import "colorpalette.scss";


//homepage logo
.logoext{
    width: 300px;
}

// edit view
.container-preview{
    width: 200px;
}

.card-img{
    width: 100%;
    aspect-ratio: 1;
}
// index order
.order{
    font-size: 12px;
}

// show restaurant
.restaurant-img{
    width: 200px;
}

.restaurant-text{
    align-self: start;
}


