@import "~bootstrap/scss/bootstrap";
@import "header.scss";
@import "general.scss";
@import "colorpalette.scss";

//palette colori
$red: #E00017;
$white: #F8F7F4;
$blue: #0072E5;
$gray: #EEEEEE;
$black: #1F1F1F;

//homepage logo
.logoext{
    width: 300px;
}

// edit view
.container-preview{
    width: 200px;
}

.card-img{
    width: 100%;
    aspect-ratio: 1;
}


