.text-custom-blue{
    color:#0072E5;
}

.bg-custom-blue{
    background-color: #0072E5;
}

.text-custom-red{
    color:#E00017;
}

.bg-custom-red{
    background-color: #E00017;
}

.text-custom-white{
    color:#F8F7F4;
}

.bg-custom-white{
    background-color: #F8F7F4;
}

.text-custom-black{
    color:#1F1F1F;
}

.bg-custom-black{
    background-color: #1F1F1F;
}

.text-custom-gray{
    color:#EEEEEE;
}

.bg-custom-grey{
    background-color: #EEEEEE;
}
