@import "colorpalette.scss";

.hide{
    display: none;
}

img{
    max-width: 100%;
}

.form-container{
    width: 80%;
    height: min-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}

form{
    height: min-content;
}


//
// menu hamburger
#sidebarMenu.collapse.show {
    height: min-content !important; /* o un'altezza specifica */
}

#sidebarMenu.collapse.hide {
    height: auto !important; /* o un'altezza specifica */
}

.green{
    color: green;
}

.red{
    color: red;
}

// nav header
.navbar{
    margin: 0;
    padding: 0;
}

.nav-bar,.container,.navbar-collapse.ul{
    height: 50px;
}
.nav-header li,.nav-bar .nav-item a
{
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 3px solid transparent;
}



.nav-header li:hover{
    height: 50px;
    border-bottom: 3px solid $blue !important;
}

// .nav-header li.active{
//     height: 50px;
//     border-bottom: 3px solid $blue !important;
// }



