@import "colorpalette.scss";

.hide{
    display: none;
}

img{
    max-width: 100%;
}

.form-container{
    width: 80%;
    height: min-content;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    border:2px solid $gray;
}

form{
    height: min-content;
}


//
// menu hamburger
#sidebarMenu.collapse.show {
    height: min-content !important; /* o un'altezza specifica */
}

#sidebarMenu.collapse.hide {
    height: auto !important; /* o un'altezza specifica */
}

.green{
    color: green;
}

.red{
    color:$red;
}
// .index-restaurant .btn{
//     width: 10vw;
// }
// .index-restaurant div a,
// .index-restaurant form button{
//     font-size: 1.3vw;
// }

// edit restaurant

.square-text-container {
    width: 300px;
    margin: 0 auto;
}
.square-image-container{

    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

.square-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


